{% extends 'navbar.html' %}

{% load bootstrap5 %} <!-- Load the bootstrap5 template tag library -->
{% bootstrap_css %} <!-- Load the Bootstrap CSS img folder -->
{% bootstrap_javascript %} <!-- Load the Bootstrap JavaScript img folder -->
{% bootstrap_messages %} <!--Optional: Display django.contrib.messages as Bootstrap alerts -->

{% load static %} <!--Load files stored in static folder in app folder-->

{% block content %}
<div class="container">
  <h1 class="text-center mt-5">Zeroes and Ones</h1>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p class="lead text-center">schedule appointment page</p>
    </div>
  </div>

  <!-- help code customer contact/continue-->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" action="{% url 'submit_form' %}">
        {% csrf_token %}
        
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        
        <div class="form-group mb-3">
          <label for="phone">Phone Number</label>
          <input type="tel" class="form-control" id="phone" name="phone" required>
        </div>
        
        <div class="alert alert-light text-center mt-3" role="alert">
          <i class="fas fa-exclamation-circle"></i>
          Some cars may take a longer time than expected, please call/text for time estimate
        </div>
        
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary">Back</button>
          <button type="submit" class="btn btn-danger">Continue</button>
        </div>
        
      </form>
    </div>
  </div>

</div>
{% include 'footer.html' %}
{% endblock %}