/* Form Container */
.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  /* Captcha Image Size and Scaling */
  .captcha {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    image-rendering: pixelated; /* Scale using nearest neighbor */
  }
  